<header id="header" class="header dark-background d-flex flex-column justify-content-center">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <div class="header-container d-flex flex-column align-items-start">
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="https://harisjamsuri.github.io/portfolio/ecommerce-build1/#home" class="active"><i class="bi bi-house navicon"></i>Home</a></li>
          <li><a href="https://harisjamsuri.github.io/portfolio/ecommerce-build1/#portfolio"><i class="bi bi-images navicon"></i> Case Studies</a></li>
          <li><a href="https://harisjamsuri.github.io/portfolio/ecommerce-build1/#about"><i class="bi bi-person navicon"></i> About</a></li>
          <li><a href="https://harisjamsuri.github.io/portfolio/ecommerce-build1/#contact"><i class="bi bi-envelope navicon"></i> Contact</a></li>
        </ul>
      </nav>

        <div class="social-links text-center">
            <a href="assets/resume/Haris-Jamsuri-Resume.pdf" 
                class="resume-download" 
                download
                aria-label="Download Resume">
                <i class="bi bi-file-earmark-text"></i>
            </a>

            <a href="https://wa.me/601158899639" 
                class="whatsapp" 
                aria-label="WhatsApp">
                <i class="bi bi-whatsapp"></i>
            </a>
        </div>


    </div>

  </header>